Does IKEv2 have an authenticated permanent rejection option that would help here?

**DESC**: This is about how to disable RISAV normally and orderly.
**TODO**: Discuss changes to the contact IP, check if there are any race conditions between
activation and deactivation, IKEv2 handshakes in progress, SA expiration, etc.
**OPEN QUESTION**: Does IKEv2 have an authenticated permanent rejection option that would help here?

It looks like IKE authentication without creating a "Child SA" is possible using the CHILDLESS_IKEV2_SUPPORTED notification (RFC 6023).  However, RFC 6023 is EXPERIMENTAL, so this may not be widely implemented.

If both peers support this option, the server could reject a CREATE_CHILD_SA request using an error code.  Perhaps we could say that a TS_UNACCEPTABLE or NO_PROPOSAL_CHOSEN error means that the IKEv2 client should not try again after 24 hours.

That sounds great. We do require such options. NO_PROPOSAL_CHOSEN may be more clear as it says in Section 3.10.1 of RFC 7296. The following referred sections are all defined in RFC7296 (https://www.rfc-editor.org/rfc/rfc7296), and not repeated.

But I think we should distinguish normal case and abnormal case. In normal case, SA could be deleted with INFORMATIONAL Exchanges as defined in Section 1.4.1. While in abnormal case, i.e. one IKE party (an ACS in RISAV) is down, that couldn't be so much easy. This may not be accepted when disabling RISAV without removing its configurations, as it says in Section 2.4 that IPsec IKEv2 will retry multiple/undetermined times on one SA. So it may not be automatic to disable RISAV.

Some other possibilities mentioned during the IPSECME discussion:
* Using DELETE to immediately delete the initial child SA.
* NO_ADDITIONAL_SAS (means "no more child SAs on this IKE SA")
* Somehow deliberately failing the IKE_AUTH step (e.g., signing an invalid keyshare response) to prevent the creation of the initial child SA.

It looks like we don't need to design such an option. It is enough to reuse these already existing SAs for disabling IPsec/IKE.
We may need to read [IKEv2 - RFC 7296](https://datatracker.ietf.org/doc/html/rfc7296) in depth.

And except for enabling and disabling, we also need to consider the fast fail and fast reconnect in the control plane I think. That is because the `testing` field may be set to `true`. At that time, the ACS is not fully reliable. When ACS is down, the SA generation may also fail before ACS reboots. So how to roll back to ordinary operation is a question.

I think we can design a `green channel` that will be used between two ACSes. In this channel, only the contact IP will not be checked with the RISAV header. That means the communication between the contact IP is always in the ordinary way when the `green channel` is working. But this seems to be infeasible in tunnel mode as the tunnel is built with the contact IP.


I think the `green channel` is a good idea, to avoid situations where RISAV has been turned on but cannot be turned off.  I don't think there's any compatibility problem with tunnel mode.  We can simply say that "RISAV IKEv2 is not subject to RISAV".

OK, I will update it later.